@{
    /**/

    /**/

    //ViewBag.Title = "Home Page"; }

}

@if (!Request.IsAuthenticated)
{
    <!-- If the user is not authenticated, display the sign-in button -->
    <br /><a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
        <style type="text/css">
            .fil0:hover {
                fill: #4B4B4B;
            }

            .fnt0 {
                font-size: 260px;
                font-family: 'Segoe UI Semibold', 'Segoe UI';
                text-decoration: none;
            }
</style>
        <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" /><rect x="150" y="129" width="122" height="122" fill="#F35325" /><rect x="284" y="129" width="122" height="122" fill="#81BC06" /><rect x="150" y="263" width="122" height="122" fill="#05A6F0" /><rect x="284" y="263" width="122" height="122" fill="#FFBA08" /><text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
        </svg>
    </a>
}
else
{
    <br />
        <h4>Hello @((User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst("name")?.Value)</h4>
        <h5 style="font-weight: bold;">@Html.ActionLink("Sign out", "SignOut", "Home")</h5>

        @*<h3>User Details:</h3>
        <table class="table table-striped table-bordered table-hover">
            <tr><td>Email</td><td>@((User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst("upn")?.Value)</td></tr>
            <tr><td>Name</td><td>@((User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst("Name")?.Value)</td></tr>
            <tr><td>IPAddress</td><td>@((User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst("ipaddr")?.Value)</td></tr>
        </table>*@
    <br /
        <h5>Logged in user:</h5>
        <table class="table table-striped table-bordered table-hover table-condensed">
            @foreach (var claim in ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims)
            {
                if (claim.Type.Contains("surname"))
                {
                    <tr><td>Surname</td><td>@claim.Value</td></tr>
                }
                else if (claim.Type.Contains("givenname"))
                {
                    <tr><td>Givenname</td><td>@claim.Value</td></tr>
                }
                else if (claim.Type.Contains("upn"))
                {
                    <tr><td>Email</td><td>@claim.Value</td></tr>
                }
                else if (claim.Type.Contains("ipaddr"))
                {
                    <tr><td>IPAddress</td><td>@claim.Value</td></tr>
                }

            }
        </table>
    }

    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }

